.flex-home {
  display: flex;
}
.flex-home > div {
  margin: auto;
}

.ads-card {
  width: 100%;
}
.tab1 {
  margin-left: 3.2%;
  font-weight: "bold";
}

.tab2 {
  margin-left: 3.2%;
  font-weight: "bold";
}
