.left {
  width: 40%;

  height: 100%;
  background-color: aqua;
  position: absolute;
  left: 0px;
}

.right {
  width: 60%;
  height: 100%;
  background-color: rgb(160, 160, 240);
  position: absolute;
  right: 0px;
}
.insideleft {
  margin: 140px 70px 75px;
}
.buttonin {
  padding-top: 10px;
  margin-left: 140px;
}
