.flex-event {
  display: flex;
}

.flex-event > div {
  margin: auto;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px; /* set a height for the div */
  width: 80%;
  margin: auto; /* center horizontally */
  background-color: rgb(79, 79, 202);
  margin-top: -35px;
  z-index: 10;
  position: relative;
  border-radius: 10px;
}
