.flex-event {
  display: flex;
}

.flex-event > div {
  margin: auto;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh; /* set a height for the div */
  width: 80%;
  margin: auto; /* center horizontally */
  background-color: rgb(12, 12, 80);
  margin-top: -35px;
  z-index: 10;
  position: relative;
  border-radius: 10px;
}

.searchIcon {
  right: -78vh;
}
